.first-loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $white;
  //   backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
