.messaging {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $dark-grey;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: $monserrat;
}

.inbox_msg {
  position: relative;
  background-color: $white;
  width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.renders {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
}

.renders-left {
  width: 40%;
  height: 100%;
}

.renders-right {
  width: 60%;
  height: 100%;
}

@media screen and (max-width: 1440px) {
  .messaging {
    padding: 0;
  }

  .inbox_msg {
    width: 100%;
  }
}
