* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  font-size: 14px;
  line-height: 1.7;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.login-form-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  align-items: center;
  justify-content: center;
  color: $blue;
  font-family: $monserrat;
}

.login-form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  width: 500px;
  padding: 1%;
  background-color: $white;
  border-radius: 5px;
  flex-direction: column;
}

.login-form-title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.login-form-input {
  box-sizing: border-box !important;
  margin: 2% 4% 0% 4%;
  height: 80px;
}

.input-auth {
  width: 100%;
  color: $blue;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 5px;
  background: transparent;
  height: 50px;
  border: none;
  transition: border-bottom 0.5s;

  background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 2px
    no-repeat;
  transition: 0.5s;
}

.input-auth:focus {
  --d: 100%;
}

.validate-input {
  border-bottom: red 1px solid;
  // border-radius: 10px;
  // color: red;
}

.error-input {
  color: red;
}

.login-form-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  margin: 2% 0% 2% 2.5%;
  width: 160px;
}

.input-checkbox[type="checkbox"] {
  transform: scale(1.5);
}

.input-checkbox[type="checkbox"] {
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 15px;
  visibility: hidden;
}

.input-checkbox[type="checkbox"]:after {
  content: " ";
  background-color: transparent;
  margin-left: 10px;
  color: $blue;
  width: 20px;
  height: 20px;
  visibility: visible;
  border: 1px solid $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.input-checkbox[type="checkbox"]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}

.link-anchor {
  margin-top: 2%;
}

.txt1 {
  font-size: 16px;
  color: grey;
  margin: 4%;
  text-decoration: none;
}

.txt1:hover {
  font-size: 16px;
  color: $blue;
  text-decoration: none;
}

.login-form-button-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.login-form-button-container-button {
  font-size: 16px;
  color: $white;
  line-height: 1.2;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  width: 92%;
  height: 62px;
  background-color: $blue;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 3%;
  margin-top: 3%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-button-container-button:hover {
  background-color: darken($color: $dark-blue, $amount: 0.8);
}

.login-form-button-container-button:disabled {
  background-color: $dark-grey;
  pointer-events: none;
}

.checkbox {
  width: 100%;
  background-color: transparent;
  color: red;
}
