// Colors
$white: rgb(238, 238, 238);
$dark-blue: rgb(15, 4, 76);
$blue: rgb(20, 30, 97);
$light-grey: rgb(212, 212, 212);
$grey: rgb(120, 122, 145);
$dark-grey: #363636;

//Fonts
$monserrat: "Montserrat", sans-serif;
